/* tema claro (padrão) */
:root {
  --bg: #f4f4f4;
  --text: #000;
  --card: #ffffff;
}

/* tema escuro */
[data-theme="dark"] {
  --bg: #121212;
  --text: #ffffff;
  --card: #1e1e1e;
}

#toggleTheme {
  position: absolute;
  right: 15px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 100px;
  
  height: 60px;
  background: var(--card);
  box-shadow: 0 2px 5px rgb(180 172 172 / 28%);
}
/* header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
  padding: 100px;
  height: 60px;
  background: var(--card);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
} */

header h1 {
  margin: 0;
  font-size: 35px;
  padding-top: 85px;
}
h2 {
  margin: 0 0 8px;
  font-size: 35px;
}
p {
  margin: 0;
  font-size: 18px;
  opacity: 0.7;
}

main {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  background: var(--bg);
  border-radius: 15px;
  padding: 140px 155px 140px 155px;
  margin-top: 45px;

  box-shadow: 0 4px 12px rgb(99 93 93 / 37%);

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.acoes {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  cursor: pointer;
}

#boletins, #pdfs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* CARDS */
.cards {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  flex: 1; /* 🔥 isso divide igualmente */
  background: var(--card);
  border-radius: 12px;
  border-left: 4px solid #007bff;
  padding: 200px 45px 200px 45px;
  margin: 0px -90px 0px -90px;
  min-height: 120px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}
/* botao de voltar*/
.back-btn {
  position: absolute;
  left: 15px;

  width: 50px;
  height: 0px;
  background: none;
  border: none;

  font-size: 50px;
  cursor: pointer;

  padding: 8px;
  border-radius: 50%;

  transition: 0.3s;
}

/* efeito ao passar o mouse */
.back-btn:hover {
  background: rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

/* efeito ao clicar */
.back-btn:active {
  transform: scale(0.95);
}

/* BOTÃO FLUTUANTE */
.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 28px;
  background: black;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.fab:hover {
  transform: scale(1.1);
}


