/* tema claro (padrão) */
:root {
  --bg: #f4f4f4;
  --text: #000;
  --card: #ffffff;
}

/* tema escuro */
[data-theme="dark"] {
  --bg: #121212;
  --text: #ffffff;
  --card: #1e1e1e;
}

#toggleTheme {
  position: absolute;
  right: 15px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
  padding: 10px;
  height: 60px;
  background: var(--card);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header h1 {
  margin: 0;
  font-size: 35px;
}

main {
  padding: 20px;
}

.acoes {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  cursor: pointer;
}

#boletins, #pdfs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* CARDS */
.cards {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card {
  background: var(--card);
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}
/* botao de voltar*/
.back-btn {
  position: absolute;
  left: 15px;

  background: none;
  border: none;

  font-size: 45px;
  cursor: pointer;

  padding: 8px;
  border-radius: 50%;

  transition: 0.3s;
}

/* efeito ao passar o mouse */
.back-btn:hover {
  background: rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

/* efeito ao clicar */
.back-btn:active {
  transform: scale(0.95);
}

/* BOTÃO FLUTUANTE */
.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 28px;
  background: black;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.fab:hover {
  transform: scale(1.1);
}


